/* h1 {color:blueviolet;
    text-align:center;
    font-family: 'Poppins', sans-serif;
}
p {
    color:blueviolet;
    text-align:center;
    font-family: 'Poppins', sans-serif;
}
 */
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet');
 #title {
    color:#0046f9;
    text-align:center;
    font-family: 'Italianno', cursive;
    letter-spacing: 1px;
    font-size: 85px;
    padding-bottom: 150px;
}
.content {
    color:#1e5e1d;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding-bottom: 25px;  
    padding-top: 25px;
    padding-left: 80px;
    padding-right: 80px;
}
.div {
    color:#1e5e1d;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;

    
}

.header {
    width: 100%;
    text-align: center;
}

.banner-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction:column; 
    align-items: center;  
}

.banner-image {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 15px;
}

body {
    background-color: #f3f1eb;
    margin: 0;
    min-height: 100vh;

}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}
#question a:link {
    color: #1e5e1d;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: ;
    text-decoration: underline;
}

#question a:visited{
    color: ##1e5e1d;
    text-decoration: none;
    font-family: 'Poppins';
}

#question a:hover{
    color: #ffa733;
    text-decoration: underline;
    font-family: 'Poppins';
}

.quiz-container {
    width: 500px;
    margin: 20px auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    text-align: center;

    border: 1px solid #f7d82c;
    border-radius: 10px;
    
    background-color: #f7d92c18;
}

.question-box {
    width: 100%;
    min-height: 100px;

    background-color: transparent;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

    margin-bottom: 10px;
    border: 0;
    padding: 10px;

    width: 100%;

}

ul {
    list-style-position: inside;
    text-align: center;

}

details[open] .question-box {

    border-bottom: 1px solid #dad7cf;
    margin-bottom: 10px;

}

#nextBtn {
    background-color: #ffa733;
    border-radius: 50px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:#1e5e1d;

    cursor: pointer;

    border:0,
    box-shadow: 0;
    outline: 0;
}

#restartBtn {
    background-color: #f4eed9;
    border-radius: 50px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:#1e5e1d;

    cursor: pointer;

    border:0,
    box-shadow: 0;
    outline: none;
}

CSS
#answers {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

#answers li {
    list-style-type: none;
}